APP_NAME=SentinelOps AI API
APP_ENV=local
APP_DEBUG=true
APP_VERSION=0.1.0
API_V1_PREFIX=/api/v1

LOG_LEVEL=INFO

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=sentinelops
POSTGRES_USER=sentinelops
POSTGRES_PASSWORD=sentinelops

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=

GITHUB_WEBHOOK_SECRET=change-me
